*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: roboto ;
    src: url(img13-14/Roboto-Regular.ttf);
}
html, body, main {
    height: 100%;
    font-family: roboto;
}
/* первый экран */
.first {
    width: 100%;
    height: 100%;
    background-image: url(img13-14/1.jpg);
    background-position: center;
    background-size: cover;
}
.first p {
    color: white;
}
.tourism {
    width: 100%;
    text-align: center;
    padding-top: 80px;
    font-size: 20px;
}
.text-container {
    width: 40%;
    margin-left: 15%;
    margin-top: 15%;
}
.first-line {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 5px;
    opacity: 0.5;
    line-height: 1;
}
.second-line {
    text-transform: uppercase;
    font-size: 64px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 5px;
}
.third-line {
    font-size: 20px;
}
/* Второй экран */
.second {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-container {
    width: 60%;
    max-width: 1000px;
}
.img-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
img {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    display: block;
    max-width: 100%;
    height: auto;
}
.img1 {
    width: 55%;
}
.wrapper {
    margin-left: 20px;
}
.img2 {
    margin-bottom: 20px;
}
.gallery-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
/* Третий экран */
.last-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    padding: 0 25%;
    background-image: url(img13-14/3.jpg);
    background-position: center;
    background-size: cover;
    font-family: roboto;
}
.last-header {
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid white;
    margin-bottom: 40px;
}
.last-p {
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
}




















